.main-resource-toolbar{
    text-align: center;
}
.tab-item1{
    position: relative;
    display: inline-block;
    height: 27px;
    line-height: 27px;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none!important;
    color: white!important;
    padding: 0;
    font-weight: 600;

    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);

    /*-webkit-transition: all .2s ease-in-out;*/
    /*-moz-transition: all .2s ease-in-out;*/
    /*-ms-transition: all .2s ease-in-out;*/
    /*-o-transition: all .2s ease-in-out;*/
    /*transition: all .2s ease-in-out;*/
}

.base-container {
     width: 55%;
     top: 85px;
     text-align: left;
 }

.base-container *{
    position: relative;
}

.main-info{
    padding: 25px;
    font-size: 11px;
    margin-bottom: 10px;
    background-color: #eeeeee;
    text-align: center;
}
.chart2 p span{
    display: inline-block;
    vertical-align: middle;
}
.chart-mark{
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #00cdaf;
    margin-right: 20px;
    vertical-align: middle;
}
.main-info .chart1, .main-info .chart2, .main-info .chart3{
    display: inline-block;
    vertical-align: middle;
}
.main-info .chart1{
    margin-right: 30px;
}
.main-info .chart2{
    margin-right: 70px;
}
.main-info .chart1 .c100{
    background-color: #00cdaf !important;
}
.main-info .chart3 .c100 span{
    text-align: center;
}
.main-info .chart3 .c100 span a{
    font-size: 12px;
    line-height: 12px;
    width: 30px;
    height: 20px;
    color: #333;
    text-align: center;
    width: 100%;
}

.table-info{
    padding: 0 100px;
}
.table-info .column{
    display: inline-block;
    text-align: center;
    font-size: 11px;
    width: 24%;
    padding: 10px 0;

}
.table-info .table-header{
    border-bottom: 1px solid #969696;
}
.table-info .table-row{
    border-bottom: 1px solid #969696;
}
.table-info .table-header .column{
    font-size: 13px;
}
.table-info .column.complete.not{
    color: #00cdaf;
}
.table-info .column.correct.not{
    color: #e5514d;
}
